.ionlogo{
    margin: auto;
    width:100px;
    padding:auto;
    color:blue;
    margin-top: 13px;
}
ion-icon{
    padding-top: 30px;
    font-size: 24px;
 }
 ion-content{
    --ion-background-color:linear-gradient(to right, rgb(255, 255, 255) , rgb(255, 208, 220));
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}

.btmm{
    --background:rgb(19, 57, 86);
 }
 h1{
    font-weight: bolder;
    color:rgb(19, 57, 86);
    font-size: 28px;
    // margin-top: 30%;
 }