<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Form
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button routerLink="/auth/login" expand="block" color="danger">Log In</ion-button>
        <p class="ion-text-center">or</p>
        <ion-button routerLink="/auth/register" expand="block" color="primary">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>