ion-content{
    --ion-background-color:linear-gradient(to right, rgb(255, 255, 255) , rgb(255, 208, 220));
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}
.btn{
    --background:rgb(19, 57, 86);
}
.btnn{
    --background:rgb(39, 108, 142);
}